/*As this is for JS13K Gmes to save space I have target elements and ids not classes*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Courier ;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

p{
  max-width: 400px;
  padding: 10px;
  margin: 0;
}

.content {
  flex: 1;
}
  
ul {
  list-style:none;
  margin: 0;
}
/*Lifes*/
#lf>li { 
  background-image: url('../img/player.svg');
  width: 1.5em;
}

/*Re-winds*/
#rw>li:before { 
    content: '🚩';
    margin-left: -20px;
    margin-right: 10px;
}

li { 
    margin: 5px;
    display: inline-block;
    height: 1.5em;
    background-size: contain;
    background-repeat: no-repeat;
}

.bar{
  display: flex;
  background: #576c99;
  border-bottom:2px solid #9eb4db;
  flex-direction:row;
  justify-content: space-between;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: monospace;
}

#lvl{
  background: #9eb4db;
  padding: 0 20px 0 10px;
  border-radius: 0 20px 20px 0;
  font-size: 2em;  
}

.footer{
  background: #b2acab;
  justify-content:center;
  font-size: 1.3em; 
  padding: 5px;
  border:none;
}

dialog {
  padding: 0;
  border: 0;
  border-radius: 0.6rem;
  box-shadow: 0 0 1em black;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

#backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

dialog[open] {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  color: black;
  margin: auto;
  border-width: initial;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  padding: 1em;
  background: #f1f1f1;
  text-align: center;
  width:400px;
  max-width: 80%;
}

dialog[open] {
  animation: fade 0.2s ease-out;
}

@keyframes fade{
  from { opacity: 0; }
  to   { opacity: 1; }
}

.button, button{
  user-select: none;
  border-radius: 5px;
  border: 2px solid #fff;
  padding: 10px;
  background: #9eb4db;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-family: Courier;
}

button:focus, .button:focus {
  outline: none;
}

h1 {
  margin: 0;
  padding: 10px;
  color: #576c99;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
h2{
  padding:0;
  margin:0;
}
 
table{
  background: #e0e0e0;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  text-align: left;
}

.pb{
  padding-bottom:30px;
}